* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: bisque;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.converter{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  background-color: white;
  width: 100%;
  max-width: 300px;
  padding: 15px 30px;
  border-radius: 10px;
}

.currency-input{
  display: flex;
  flex-direction: column;
}

.dropdown{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
.select-container{
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
}
.select-container select{
  border: none;
  outline: none;
}

.select-container img{
  width: 25px;
}
.exchange-icon{
margin-top: 15px;
}

.exchange-btn{
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}